@model ImageViewModel
@if (!string.IsNullOrEmpty(Model.OldImageURL))
{
    <div class="form-group row">
        <label class="col-sm-2 control-label  pt-2"></label>
        <div class="col-sm-4">
            <img src="@Model.OldImageURL" style="width:105px" />
        </div>
    </div>
}
<div class="form-group row">
    <label class="col-sm-2 control-label  pt-2" for="@Model.ImageName">@Model.LabelName</label>
    <div class="col-sm-4">
        <div class="fileupload fileupload-new" data-provides="fileupload">
            <div class="input-append">
                <div class="uneditable-input">
                    <i class="fas fa-file fileupload-exists"></i>
                    <span class="fileupload-preview"></span>
                </div>
                <span class="btn btn-default btn-file">
                    <span class="fileupload-exists">@CommonLocalizer.Get("Change")</span>
                    <span class="fileupload-new">@CommonLocalizer.Get("ChooseFile")</span>
                    <input type="file" id="@Model.ImageName" name="@Model.ImageName" />
                </span>
                <a href="#" class="btn btn-default fileupload-exists" data-dismiss="fileupload">@CommonLocalizer.Get("Remove")</a>
            </div>
        </div>
    </div>

    <label class="col-sm-2 control-label  pt-2">@EntityLocalizer.Get("Image Title")</label>
    <div class="col-sm-4">
        <input asp-for="ImageTitle" class="form-control" />
    </div>

</div>
