<!doctype html>
<html class="fixed">
<head>

    <!-- Basic -->
    <meta charset="UTF-8">

    <title>@ViewData["Title"] |  @EntityLocalizer.Get("StrokeForEgypt")</title>

    <meta name="keywords" content="App Admin" />
    <meta name="description" content="App Admin">
    <meta name="author" content="App Admin">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <!-- Web Fonts  -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@600&display=swap" rel="stylesheet">

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="~/Template-Assets/vendor/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="~/Template-Assets/vendor/animate/animate.css">

    <link rel="stylesheet" href="~/Template-Assets/vendor/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="~/Template-Assets/vendor/magnific-popup/magnific-popup.css" />
    <link rel="stylesheet" href="~/Template-Assets/vendor/bootstrap-datepicker/css/bootstrap-datepicker3.css" />

    <!-- Theme CSS -->
    <link rel="stylesheet" href="~/Template-Assets/css/theme.css" />

    <!-- Skin CSS -->
    <link rel="stylesheet" href="~/Template-Assets/css/skins/default.css" />

    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="~/Template-Assets/css/custom.css">

    <!-- Head Libs -->
    <script src="~/Template-Assets/vendor/modernizr/modernizr.js"></script>

    <style>
        * {
            font-family: 'Cairo', sans-serif;
        }
    </style>

</head>
<body>
    <!-- start: page -->
    <section class="body-sign">
        <div class="center-sign">
            <div class="panel card-sign">
                <div class="card-title-sign mt-3 text-right">
                    <h2 class="title text-uppercase font-weight-bold m-0"><i class="fas fa-user mr-1"></i> @ViewData["Title"]</h2>
                </div>
                <div class="card-body">
                    @RenderBody()
                </div>
            </div>

            <p class="text-center text-muted mt-3 mb-3">&copy; Copyright @DateTime.Now.Year. All Rights Reserved.</p>
        </div>
    </section>
    <!-- end: page -->
    <!-- Vendor -->
    <script src="~/Template-Assets/vendor/jquery/jquery.js"></script>
    <script src="~/Template-Assets/vendor/jquery-browser-mobile/jquery.browser.mobile.js"></script>
    <script src="~/Template-Assets/vendor/popper/umd/popper.min.js"></script>
    <script src="~/Template-Assets/vendor/bootstrap/js/bootstrap.js"></script>
    <script src="~/Template-Assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="~/Template-Assets/vendor/common/common.js"></script>
    <script src="~/Template-Assets/vendor/nanoscroller/nanoscroller.js"></script>
    <script src="~/Template-Assets/vendor/magnific-popup/jquery.magnific-popup.js"></script>
    <script src="~/Template-Assets/vendor/jquery-placeholder/jquery.placeholder.js"></script>

    <!-- Theme Base, Components and Settings -->
    <script src="~/Template-Assets/js/theme.js"></script>

    <!-- Theme Custom -->
    <script src="~/Template-Assets/js/custom.js"></script>

    <!-- Theme Initialization Files -->
    <script src="~/Template-Assets/js/theme.init.js"></script>

    @{await Html.RenderPartialAsync("PartialView/_ValidationScriptsPartial");}

</body>
</html>
