@inject CommonLocalizationService CommonLocalizer
@inject EntityLocalizationService EntityLocalizer
@{

    var SystemUser = HttpContextAccessor.HttpContext.Request.Cookies["SystemUser"];
    var SystemRole = HttpContextAccessor.HttpContext.Request.Cookies["SystemRole"];
    var SystemView = HttpContextAccessor.HttpContext.Request.Cookies["SystemView"];
    var Event = HttpContextAccessor.HttpContext.Request.Cookies["Event"];
    var AppAbout = HttpContextAccessor.HttpContext.Request.Cookies["AppAbout"];
    var Account = HttpContextAccessor.HttpContext.Request.Cookies["Account"];
    var City = HttpContextAccessor.HttpContext.Request.Cookies["City"];
    var Country = HttpContextAccessor.HttpContext.Request.Cookies["Country"];
    var Gallery = HttpContextAccessor.HttpContext.Request.Cookies["Gallery"];
    var BookingState = HttpContextAccessor.HttpContext.Request.Cookies["BookingState"];
    var Booking = HttpContextAccessor.HttpContext.Request.Cookies["Booking"];
    var News = HttpContextAccessor.HttpContext.Request.Cookies["News"];
    var Sponsor = HttpContextAccessor.HttpContext.Request.Cookies["Sponsor"];
    var SponsorType = HttpContextAccessor.HttpContext.Request.Cookies["SponsorType"];
    var BookingPayment = HttpContextAccessor.HttpContext.Request.Cookies["BookingPayment"];
    var Notification = HttpContextAccessor.HttpContext.Request.Cookies["Notification"];
    var NotificationType = HttpContextAccessor.HttpContext.Request.Cookies["NotificationType"];

}

<!-- start: sidebar -->
<aside id="sidebar-left" class="sidebar-left">

    <div class="sidebar-header">
        <div class="sidebar-title">
            @CommonLocalizer.Get("Navigation")
        </div>
        <div class="sidebar-toggle d-none d-md-block" data-toggle-class="sidebar-left-collapsed" data-target="html" data-fire-event="sidebar-left-toggle">
            <i class="fas fa-bars" aria-label="Toggle sidebar"></i>
        </div>
    </div>

    <div class="nano">
        <div class="nano-content">
            <nav id="menu" class="nav-main" role="navigation">

                <ul class="nav nav-main">
                    <li>
                        <a class="nav-link" asp-action="Index" asp-controller="Home">
                            <i class="fas fa-home" aria-hidden="true"></i>
                            <span>@CommonLocalizer.Get("Home")</span>
                        </a>
                    </li>
                    @if (Account != null)
                    {
                        <li>
                            <a class="nav-link" asp-action="Index" asp-controller="Account">
                                <i class="fas fa-users" aria-hidden="true"></i>
                                <span>@EntityLocalizer.Get("Accounts")</span>
                            </a>
                        </li>
                    }
                    @if (Booking != null)
                    {
                        <li>
                            <a class="nav-link" asp-action="Index" asp-controller="Booking">
                                <i class="fas fa-check" aria-hidden="true"></i>
                                <span>@EntityLocalizer.Get("Bookings")</span>
                            </a>
                        </li>
                    }
                    @if (Notification != null)
                    {
                        <li>
                            <a class="nav-link" asp-action="Index" asp-controller="Notification">
                                <i class="fas fa-bell" aria-hidden="true"></i>
                                <span>@EntityLocalizer.Get("Notifications")</span>
                            </a>
                        </li>
                    }
                    @if (BookingPayment != null)
                    {
                        <li>
                            <a class="nav-link" asp-action="Index" asp-controller="BookingPayment">
                                <i class="fas fa-dollar-sign" aria-hidden="true"></i>
                                <span>@EntityLocalizer.Get("Booking Payments")</span>
                            </a>
                        </li>
                    }
                    @if (Event != null)
                    {
                        <li>
                            <a class="nav-link" asp-action="Index" asp-controller="Event">
                                <i class="fas fa-calendar-alt" aria-hidden="true"></i>
                                <span>@EntityLocalizer.Get("Events")</span>
                            </a>
                        </li>

                    }
                    @if (News != null)
                    {
                        <li>
                            <a class="nav-link" asp-action="Index" asp-controller="News">
                                <i class="fas fa-newspaper" aria-hidden="true"></i>
                                <span>@EntityLocalizer.Get("News")</span>
                            </a>
                        </li>

                    }
                    @if (Sponsor != null)
                    {
                        <li>
                            <a class="nav-link" asp-action="Index" asp-controller="Sponsor">
                                <i class="far fa-handshake" aria-hidden="true"></i>
                                <span>@EntityLocalizer.Get("Sponsors")</span>
                            </a>
                        </li>

                    }
                    @if (City != null || Country != null || Gallery != null || AppAbout != null
                       || BookingState != null || NotificationType != null || SponsorType != null)
                    {
                <li class="nav-parent">
                    <a class="nav-link" href="#">
                        <i class="fas fa-mail-bulk" aria-hidden="true"></i>
                        <span> @EntityLocalizer.Get("Main Data")</span>
                    </a>
                    @if (AppAbout != null)
                    {
                        <ul class="nav nav-children">
                            <li>
                                <a asp-action="Details" asp-controller="AppAbout">
                                    <span class="fas fa-info-circle"></span> @EntityLocalizer.Get("AppAbout")
                                </a>
                            </li>
                        </ul>
                    }
                    @if (Country != null)
                    {
                        <ul class="nav nav-children">
                            <li>
                                <a asp-action="Index" asp-controller="Country">
                                    <span class="fas fa-city"></span> @EntityLocalizer.Get("Countries")
                                </a>
                            </li>
                        </ul>
                    }
                    @if (City != null)
                    {
                        <ul class="nav nav-children">
                            <li>
                                <a asp-action="Index" asp-controller="City">
                                    <span class="fas fa-city"></span> @EntityLocalizer.Get("Cities")
                                </a>
                            </li>
                        </ul>
                    }
                    @if (Gallery != null)
                    {
                        <ul class="nav nav-children">
                            <li>
                                <a asp-action="Index" asp-controller="Gallery">
                                    <span class="fas fa-images"></span> @EntityLocalizer.Get("Gallery")
                                </a>
                            </li>
                        </ul>
                    }
                    @if (BookingState != null)
                    {
                        <ul class="nav nav-children">
                            <li>
                                <a asp-action="Index" asp-controller="BookingState">
                                    <span class="fas fa-check"></span> @EntityLocalizer.Get("Booking States")
                                </a>
                            </li>
                        </ul>
                    }
                    @if (SponsorType != null)
                    {
                        <ul class="nav nav-children">
                            <li>
                                <a asp-action="Index" asp-controller="SponsorType">
                                    <span class="far fa-handshake"></span> @EntityLocalizer.Get("Sponsor Types")
                                </a>
                            </li>
                        </ul>
                    }
                    @if (NotificationType != null)
                    {
                        <ul class="nav nav-children">
                            <li>
                                <a asp-action="Index" asp-controller="NotificationType">
                                    <span class="far fa-bell"></span> @EntityLocalizer.Get("Notification Types")
                                </a>
                            </li>
                        </ul>
                    }
                </li>
                    }

                    @if (SystemUser != null || SystemView != null || SystemRole != null)
                    {
                        <li class="nav-parent">
                            <a class="nav-link" href="#">
                                <i class="fas fa-user-cog" aria-hidden="true"></i>
                                <span> @EntityLocalizer.Get("System Admin")</span>
                            </a>
                            @if (SystemUser != null)
                            {
                                <ul class="nav nav-children">
                                    <li>
                                        <a asp-action="Index" asp-controller="SystemUser">
                                            <span class="fas fa-user"></span> @EntityLocalizer.Get("System Users")
                                        </a>
                                    </li>
                                </ul>
                            }
                            @if (SystemRole != null)
                            {
                                <ul class="nav nav-children">
                                    <li>
                                        <a asp-action="Index" asp-controller="SystemRole">
                                            <span class="fas fa-cogs"></span> @EntityLocalizer.Get("System Roles")
                                        </a>
                                    </li>
                                </ul>
                            }
                            @if (SystemView != null)
                            {
                                <ul class="nav nav-children">
                                    <li>
                                        <a asp-action="Index" asp-controller="SystemView">
                                            <span class="fas fa-pager"></span> @EntityLocalizer.Get("System Views")
                                        </a>
                                    </li>
                                </ul>
                            }
                        </li>
                    }
                </ul>
            </nav>
        </div>

        <script>
            // Maintain Scroll Position
            if (typeof localStorage !== 'undefined') {
                if (localStorage.getItem('sidebar-left-position') !== null) {
                    var initialPosition = localStorage.getItem('sidebar-left-position'),
                        sidebarLeft = document.querySelector('#sidebar-left .nano-content');

                    sidebarLeft.scrollTop = initialPosition;
                }
            }
        </script>


    </div>

</aside>
<!-- end: sidebar -->
