@model Booking
@inject CommonLocalizationService CommonLocalizer
@inject EntityLocalizationService EntityLocalizer
@{
    ViewData["Title"] = EntityLocalizer.Get("Booking Profile");

    var Fk_AccessLevel = int.Parse(HttpContextAccessor.HttpContext.Request.Cookies[(this.ViewContext.RouteData.Values["controller"].ToString())]);

    int returnItem = (int)ViewData["returnItem"];

    var BookingMember = HttpContextAccessor.HttpContext.Request.Cookies["BookingMember"];
    var BookingStateHistory = HttpContextAccessor.HttpContext.Request.Cookies["BookingStateHistory"];
    var BookingPayment = HttpContextAccessor.HttpContext.Request.Cookies["BookingPayment"];

}

@section Styles{
    @{await Html.RenderPartialAsync("PartialView/_FormStylesPartial");}
    @{await Html.RenderPartialAsync("PartialView/_TableStylesPartial");}

    <style>
        .active {
            background-color: #006ea6 !important;
            border-color: #006ea6 !important;
            color: white !important;
        }

        .nav-item :hover {
            cursor: pointer;
            background-color: #006ea6 !important;
            border-color: #006ea6 !important;
            color: white !important;
        }
    </style>
}
@if (Fk_AccessLevel == (int)AccessLevelEnum.FullAccess || Fk_AccessLevel == (int)AccessLevelEnum.CreateOrUpdateAccess)
{

    <div class="form-group row">
        <div class="col-sm-12">
            <a asp-action="CreateOrEdit" asp-route-id="@Model.Id" asp-route-IsProfile="true" class="btn btn-success btn-block"><i class="far fa-edit"></i><span>&nbsp;</span>@($"{CommonLocalizer.Get("Edit")}")</a>
        </div>
    </div>

}


@{await Html.RenderPartialAsync("../BookingEntity/Booking/Details", Model, ViewData);}

<br />
<div class="row">
    <div class="col-lg-12">
        <section class="card">
            <ul class="nav nav-tabs nav-fill">
                @if (BookingMember != null)
                {
                    <li class="nav-item">
                        <a id="BookingMember" class="nav-link @(returnItem == (int)BookingProfileItems.BookingMember?"active":"")">
                            @Html.DisplayNameFor(model => model.BookingMembers)
                        </a>
                    </li>
                }
                @if (BookingStateHistory != null)
                {
                    <li class="nav-item">
                        <a id="BookingStateHistory" class="nav-link @(returnItem == (int)BookingProfileItems.BookingStateHistory?"active":"")">
                            @Html.DisplayNameFor(model => model.BookingStateHistories)
                        </a>
                    </li>
                }
                @if (BookingPayment != null)
                {
                    <li class="nav-item">
                        <a id="BookingPayment" class="nav-link @(returnItem == (int)BookingProfileItems.BookingPayment?"active":"")">
                            @Html.DisplayNameFor(model => model.BookingPayments)
                        </a>
                    </li>
                }

            </ul>
        </section>
    </div>
</div>
<br />
<br />

<div id="d1"></div>
@section Scripts {
    <script>
     $(document).ready(function () {

         if ('@BookingMember' != null && @returnItem == @((int)BookingProfileItems.BookingMember)) {
             $("#d1").load("/BookingMember/Index/?Fk_Booking=@Model.Id&ProfileLayOut=true");
         }
         else if ('@BookingStateHistory' != null && @returnItem == @((int)BookingProfileItems.BookingStateHistory)) {
             $("#d1").load("/BookingStateHistory/Index/?Fk_Booking=@Model.Id&ProfileLayOut=true");
         }
         else if ('@BookingPayment' != null && @returnItem == @((int)BookingProfileItems.BookingPayment)) {
             $("#d1").load("/BookingPayment/Index/?Fk_Booking=@Model.Id&ProfileLayOut=true");
         }



         $("#BookingMember").on('click', function () {
             $(".active").each(function () {
                 $(this).removeClass("active");
             });
             $(this).addClass("active");
             $("#d1").load("/BookingMember/Index/?Fk_Booking=@Model.Id&ProfileLayOut=true");
         });

         $("#BookingStateHistory").on('click', function () {
             $(".active").each(function () {
                 $(this).removeClass("active");
             });
             $(this).addClass("active");
             $("#d1").load("/BookingStateHistory/Index/?Fk_Booking=@Model.Id&ProfileLayOut=true");
         });

         $("#BookingPayment").on('click', function () {
             $(".active").each(function () {
                 $(this).removeClass("active");
             });
             $(this).addClass("active");
             $("#d1").load("/BookingPayment/Index/?Fk_Booking=@Model.Id&ProfileLayOut=true");
         });

     });
    </script>
}