@model NotificationAccountFilter
@inject CommonLocalizationService CommonLocalizer
@inject EntityLocalizationService EntityLocalizer
@{
    ViewData["Title"] = EntityLocalizer.Get("Notification Accounts");

    var NotificationAccount = new NotificationAccount();

    var Fk_AccessLevel = int.Parse(HttpContextAccessor.HttpContext.Request.Cookies[(this.ViewContext.RouteData.Values["controller"].ToString())]);

    if (ViewData["ProfileLayOut"] != null && (bool)ViewData["ProfileLayOut"] == true)
    {
        Layout = "_AssetsLayout";
    }

}

@section Styles{
    @{await Html.RenderPartialAsync("PartialView/_FormStylesPartial");}
    @{await Html.RenderPartialAsync("PartialView/_TableStylesPartial");}
}
<div class="row">
    <div class="col">
        <section class="card">
            <header class="card-header">
                <h2 class="card-title">@ViewData["Title"]</h2>
            </header>
            <div class="card-body">

              
                <table class="table table-bordered table-striped mb-0" id="custom-tabletools">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(model => NotificationAccount.Id)</th>
                            <th>@Html.DisplayNameFor(model => NotificationAccount.Account.FullName)</th>
                            <th>@Html.DisplayNameFor(model => NotificationAccount.Account.Email)</th>
                            <th>@Html.DisplayNameFor(model => NotificationAccount.Account.Phone)</th>
                            <th>@EntityLocalizer.Get("Image")</th>

                            <th>

                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
        </section>
    </div>
</div>

<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="DisplayModal" tabindex="-1" role="dialog" aria-labelledby="DetailsTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">@ViewData["Title"]</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="Display">
            </div>
        </div>
    </div>
</div>

@section Scripts{

    @{await Html.RenderPartialAsync("PartialView/_ValidationScriptsPartial");}
    @{await Html.RenderPartialAsync("PartialView/_FormScriptsPartial");}
    @{await Html.RenderPartialAsync("PartialView/_TableScriptsPartial");}

<script>
        $(document).ready(function () {
            var $table = $('#custom-tabletools').DataTable({
                // Ajax Filter
                ajax: {
                    url: '@Url.Action("LoadTable")',
                    type: "POST",
                    contentType: "application/json",
                    dataType: "json",
                    data: function (data) {
                        data.Id = @Model.Id;
                        data.Fk_Notification = @Model.Fk_Notification;
                        return JSON.stringify(data);
                    }
                },
                // Columns Setups
                columns: [
                    { data: "id" },
                    { data: "account.fullName" },
                    { data: "account.email" },
                    { data: "account.phone" },
                   {
                          data: "account.imageURL",
                        render: function (data) {
                            if (data != null) {
                                return '<a class="image-popup-no-margins" href="' + data + '"><img class="img-thumbnail img-fluid" src="' + data + '" width="75" alt="No Image Selected"></a>'
                            }
                            else {
                                return '@CommonLocalizer.Get("Not Found")';
                            }
                        }
                    },


                ]
            });

            $('#custom-tabletools_wrapper').find('.btn-secondary').removeClass('btn-secondary').addClass('btn-default');

            $('body').on('submit', '.filter', function () {
                event.preventDefault();
                $(".modal").fadeOut();
                $(".modal-backdrop").fadeOut();
                $table.draw();
            });
    });
</script>
}