@model Notification
@inject UnitOfWork _UnitOfWork
@inject CommonLocalizationService CommonLocalizer
@inject EntityLocalizationService EntityLocalizer
@{
    ViewData["Title"] = $"{CommonLocalizer.Get("CreateOrEdit")} {EntityLocalizer.Get("Notification")}";

    bool IsProfile = false;

    if (ViewData["IsProfile"] != null)
    {
        IsProfile = (bool)ViewData["IsProfile"];
    }
    bool IsPrivate = false;

    List<Account> Accounts = new List<Account>();
    List<int> Fk_Accounts = new List<int>();

    if (_UnitOfWork.NotificationAccount.Any(a => a.Fk_Notification == Model.Id))
    {
        IsPrivate = true;
        Accounts = _UnitOfWork.Account.GetAll(a => a.NotificationAccounts.Any(b => b.Fk_Notification == Model.Id)).Result.ToList();
        Fk_Accounts = Accounts.Select(a => a.Id).ToList();
    }


}

@section Styles{
    @{await Html.RenderPartialAsync("PartialView/_FormStylesPartial");}
}
<div class="row">
    <div class="col-lg-12">
        <form asp-action="CreateOrEdit" class="form-horizontal" enctype="multipart/form-data">
            <section class="card">
                <header class="card-header">
                    <h2 class="card-title">@ViewData["Title"]</h2>
                </header>
                <div class="card-body">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <input type="hidden" asp-for="@IsProfile" />


                    <div class="form-group row">
                        <label asp-for="Heading" class="col-sm-2 control-label  pt-2"></label>
                        <div class="col-sm-10">
                            <input asp-for="Heading" class="form-control">
                            <span asp-validation-for="Heading" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label asp-for="Content" class="col-sm-2 control-label  pt-2"></label>
                        <div class="col-sm-10">
                            <textarea rows="2" asp-for="Content" class="form-control"></textarea>
                            <span asp-validation-for="Content" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label asp-for="Target" class="col-sm-2 control-label  pt-2"></label>
                        <div class="col-sm-4">
                            <input asp-for="Target" class="form-control">
                            <span asp-validation-for="Target" class="text-danger"></span>
                        </div>

                        <label asp-for="NotificationType" class="col-sm-2 control-label  pt-2"></label>
                        <div class="col-sm-4">
                            <select asp-for="Fk_NotificationType" data-plugin-selectTwo class="form-control populate" asp-items="@(new SelectList(_UnitOfWork.NotificationType.GetLookUp(a=>true,"Id","Name"),"Key","Value"))"></select>
                            <span asp-validation-for="Fk_NotificationType" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="Event" class="col-sm-2 control-label  pt-2"></label>
                        <div class="col-sm-4">
                            <select asp-for="Fk_Event" data-plugin-selectTwo class="form-control populate" asp-items="@(new SelectList(_UnitOfWork.Event.GetLookUp(a=>true,"Id","Title"),"Key","Value"))">
                                <option value="">@CommonLocalizer.Get("Not Specific")</option>
                            </select>
                            <span asp-validation-for="Fk_Event" class="text-danger"></span>
                        </div>

                    </div>

                    @{await Html.RenderPartialAsync("PartialComponent/ImageUpload", new ImageViewModel { LabelName = EntityLocalizer.Get("Image"), OldImageURL = Model.ImageURL });}

                    <div class="form-group row">
                        <label class="col-sm-2 control-label  pt-2">@EntityLocalizer.Get("IsPrivate")</label>
                        <div class="col-sm-4">
                            <input id="IsPrivate" asp-for="@IsPrivate" class="form-control">
                            <span asp-validation-for="@IsPrivate" class="text-danger"></span>
                        </div>
                    </div>
                    <div id="Accounts" class="form-group row" style="display:@(IsPrivate?"":"none")">
                        <label asp-for="NotificationAccounts" class="col-sm-2 control-label  pt-2"></label>
                        <div class="col-sm-10">
                            <select asp-for="@Fk_Accounts" data-plugin-selectTwo class="form-control populate" asp-items="@(new MultiSelectList(Accounts,"Id","FullName"))">
                            </select>
                        </div>
                        @*<div class="col-sm-19">
            <select class="form-control" multiple="multiple" data-plugin-multiselect="" data-plugin-options="{ &quot;maxHeight&quot;: 200, &quot;enableCaseInsensitiveFiltering&quot;: true }" id="ms_example6" style="display: none;">
            </select>
            <div class="btn-group show"><button type="button" class="multiselect dropdown-toggle btn btn-default" data-toggle="dropdown" title="None selected" aria-expanded="true"><span class="multiselect-selected-text">None selected</span> <b class="caret"></b></button><ul class="multiselect-container dropdown-menu show" x-placement="bottom-start" style="max-height: 200px; overflow: hidden auto; position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);"><div class="input-group"><span class="input-group-prepend"><span class="input-group-text"><i class="fas fa-search"></i></span></span><input class="form-control multiselect-search" type="text" placeholder="Search"></div></ul></div>
        </div>*@

                    

                    </div>

                    <div class="form-group row">
                        <label asp-for="Order" class="col-sm-2 control-label  pt-2"></label>
                        <div class="col-sm-4">
                            <input asp-for="Order" class="form-control">
                            <span asp-validation-for="Order" class="text-danger"></span>
                        </div>
                        <label asp-for="IsActive" class="col-sm-2 control-label  pt-2"></label>
                        <div class="col-sm-4">
                            <input asp-for="IsActive" class="form-control">
                            <span asp-validation-for="IsActive" class="text-danger"></span>
                        </div>
                    </div>

                </div>
                <footer class="card-footer text-left">
                    <button class="btn btn-primary"> @CommonLocalizer.Get("Submit") </button>
                    <button type="reset" class="btn btn-default"> @CommonLocalizer.Get("Reset") </button>
                    @if (IsProfile)
                    {
                        <a asp-action="Profile" asp-route-id="@Model.Id" class="btn btn-success"> @CommonLocalizer.Get("Back") </a>
                    }
                    else
                    { <a asp-action="Index" class="btn btn-success"> @CommonLocalizer.Get("Back") </a>}
                </footer>
            </section>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("PartialView/_ValidationScriptsPartial");}
    @{await Html.RenderPartialAsync("PartialView/_FormScriptsPartial");}
    <script>
        function getAccountsByName(Name) {
            var serviceUrl = '/DataFilter/GetAccountsByName/?Name=' + Name;

            $.ajax({
                type: 'GET',
                url: serviceUrl,
                success: function (result) {
                    console.log($('#Fk_Accounts option:not(:selected)'));
                    $('#Fk_Accountsoption:not(:selected)').remove();

                    var options = ' ';
                    if (result.length > 0) {
                        for (var i = 0; i < result.length; i++) {
                            options += '<option value="' + result[i].id + '">' + result[i].name + '</option>'
                        }
                    }
                    $("#Fk_Accounts").append(options);

                }
            });
        }

        $(document).ready(function () {
            $("#IsPrivate").on("change", function () {
                if ($(this).is(':checked')) {
                    $("#Accounts").css("display", "");
                }
                else {
                    $("#Accounts").css("display", "none");

                }
            });
            $(document).on('click', '#Accounts > div > span >span >span >ul > li >input', function () {
                $('#Fk_Accounts option:not(:selected)').remove();
            });
            $(document).on('keyup', '#Accounts > div > span >span >span >ul > li >input', function () {
                getAccountsByName(this.value)
            });
        });
    </script>
}
