@model Notification
@inject UnitOfWork _UnitOfWork
@inject CommonLocalizationService CommonLocalizer
@inject EntityLocalizationService EntityLocalizer
@{
    ViewData["Title"] = $"{CommonLocalizer.Get("CreateOrEdit")} {EntityLocalizer.Get("Notification")}";

    bool IsProfile = false;

    if (ViewData["IsProfile"] != null)
    {
        IsProfile = (bool)ViewData["IsProfile"];
    }
    bool IsPrivate = false;
    bool SendNotification = false;

    int Fk_Account = 0;
    if (ViewData["Fk_Account"] != null)
    {
        Fk_Account = (int)ViewData["Fk_Account"];
    }
    List<Account> Accounts = new List<Account>();
    List<int> Fk_Accounts = new List<int>();

    if (Fk_Account > 0)
    {
        IsPrivate = true;
        Accounts = _UnitOfWork.Account.GetAll(a => a.Id == Fk_Account).Result.ToList();
        Fk_Accounts = Accounts.Select(a => a.Id).ToList();
    }
    else if (_UnitOfWork.NotificationAccount.Any(a => a.Fk_Notification == Model.Id))
    {
        IsPrivate = true;
        Accounts = _UnitOfWork.Account.GetAll(a => a.NotificationAccounts.Any(b => b.Fk_Notification == Model.Id)).Result.ToList();

        Fk_Accounts = Accounts.Select(a => a.Id).ToList();
    }


}

@section Styles{
    @{await Html.RenderPartialAsync("PartialView/_FormStylesPartial");}
}
<div class="row">
    <div class="col-lg-12">
        <form asp-action="CreateOrEdit" class="form-horizontal" enctype="multipart/form-data">
            <section class="card">
                <header class="card-header">
                    <h2 class="card-title">@ViewData["Title"]</h2>
                </header>
                <div class="card-body">
                    <div asp-validation-summary="All" class="text-danger">@ViewData["Error"]</div>
                    <input type="hidden" asp-for="Id" />
                    <input type="hidden" asp-for="@IsProfile" />


                    <div class="form-group row">
                        <label asp-for="Heading" class="col-sm-2 control-label  pt-2"></label>
                        <div class="col-sm-10">
                            <input asp-for="Heading" class="form-control">
                            <span asp-validation-for="Heading" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label asp-for="Content" class="col-sm-2 control-label  pt-2"></label>
                        <div class="col-sm-10">
                            <textarea rows="2" asp-for="Content" class="form-control"></textarea>
                            <span asp-validation-for="Content" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label asp-for="Event" class="col-sm-2 control-label  pt-2"></label>
                        <div class="col-sm-4">
                            <select asp-for="Fk_Event" data-plugin-selectTwo class="form-control populate" asp-items="@(new SelectList(_UnitOfWork.Event.GetLookUp(a=>true,"Id","Title"),"Key","Value"))">
                                <option value="">@CommonLocalizer.Get("Not Specific")</option>
                            </select>
                            <span asp-validation-for="Fk_Event" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group row">

                        <label asp-for="NotificationType" class="col-sm-2 control-label  pt-2"></label>
                        <div class="col-sm-4">
                            <select asp-for="Fk_NotificationType" data-plugin-selectTwo class="form-control populate" asp-items="@(new SelectList(_UnitOfWork.NotificationType.GetLookUp(a=>true,"Id","Name"),"Key","Value"))">
                            </select>
                            <span asp-validation-for="Fk_NotificationType" class="text-danger"></span>
                        </div>
                        <label asp-for="Target" class="col-sm-2 control-label  pt-2"></label>
                        <div class="col-sm-4">
                            <input asp-for="Target" class="form-control">
                            <span asp-validation-for="Target" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 control-label  pt-2">@EntityLocalizer.Get("IsPrivate")</label>
                        <div class="col-sm-4">
                            <input id="IsPrivate" asp-for="@IsPrivate" class="form-control">
                            <span asp-validation-for="@IsPrivate" class="text-danger"></span>
                        </div>
                    </div>
                    <div id="Accounts" class="form-group row" style="display:@(IsPrivate?"":"none")">
                        <label asp-for="NotificationAccounts" class="col-sm-2 control-label  pt-2"></label>
                        <div class="col-sm-10">
                            <select asp-for="@Fk_Accounts" data-plugin-selectTwo class="form-control populate" asp-items="@(new MultiSelectList(Accounts,"Id","FullName"))">
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label asp-for="Order" class="col-sm-2 control-label  pt-2"></label>
                        <div class="col-sm-4">
                            <input asp-for="Order" class="form-control">
                            <span asp-validation-for="Order" class="text-danger"></span>
                        </div>
                        <label asp-for="IsActive" class="col-sm-2 control-label  pt-2"></label>
                        <div class="col-sm-4">
                            <input asp-for="IsActive" class="form-control">
                            <span asp-validation-for="IsActive" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 control-label  pt-2">@EntityLocalizer.Get("Send Notification")</label>
                        <div class="col-sm-4">
                            <input id="SendNotification" asp-for="@SendNotification" class="form-control">
                            <span asp-validation-for="@SendNotification" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <footer class="card-footer text-left">
                    <button class="btn btn-primary"> @CommonLocalizer.Get("Submit") </button>
                    <button type="reset" class="btn btn-default"> @CommonLocalizer.Get("Reset") </button>
                    @if (IsProfile)
                    {
                        <a asp-action="Profile" asp-route-id="@Model.Id" class="btn btn-success"> @CommonLocalizer.Get("Back") </a>
                    }
                    else
                    { <a asp-action="Index" class="btn btn-success"> @CommonLocalizer.Get("Back") </a>}
                </footer>
            </section>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("PartialView/_ValidationScriptsPartial");}
    @{await Html.RenderPartialAsync("PartialView/_FormScriptsPartial");}
    <script>

        $(document).ready(function () {
            if (@Fk_Account == 0) {
                var serviceUrl = '/DataFilter/GetAccounts?haveNotificationToken=true';
                $.ajax({
                    type: 'GET',
                    url: serviceUrl,
                    success: function (result) {
                        $('#Fk_Accounts option:not(:selected)').remove();

                        var options = ' ';
                        if (result.length > 0) {
                            for (var i = 0; i < result.length; i++) {
                                if ($("#Fk_Accounts option[value='" + result[i].id + "']").length == 0) {
                                    options += '<option value="' + result[i].id + '">' + result[i].name + '</option>'
                                }                            }
                        }
                        $("#Fk_Accounts").append(options);

                    }
                });
            }
            $("#IsPrivate").on("change", function () {
                if ($(this).is(':checked')) {
                    $("#Accounts").css("display", "");
                }
                else {
                    $("#Accounts").css("display", "none");

                }
            });

        });
    </script>
}
