@model EventGalleryFilter
@inject CommonLocalizationService CommonLocalizer
@inject EntityLocalizationService EntityLocalizer
@{
    ViewData["Title"] = EntityLocalizer.Get("EventGallery");

    var EventGallery = new EventGallery();

    var Fk_AccessLevel = int.Parse(HttpContextAccessor.HttpContext.Request.Cookies[(this.ViewContext.RouteData.Values["controller"].ToString())]);

    if (ViewData["ProfileLayOut"] != null && (bool)ViewData["ProfileLayOut"] == true)
    {
        Layout = "_AssetsLayout";
    }

}

@section Styles{
    @{await Html.RenderPartialAsync("PartialView/_FormStylesPartial");}
    @{await Html.RenderPartialAsync("PartialView/_TableStylesPartial");}
}
<div class="row">
    <div class="col">
        <section class="card">
            <header class="card-header">
                <div class="card-actions">
                    <a href="#" class="card-action card-action-toggle" data-card-toggle></a>
                    <a href="#" class="card-action card-action-dismiss" data-card-dismiss></a>
                </div>
                <h2 class="card-title">@ViewData["Title"]</h2>
            </header>
            <div class="card-body">
                @if ((Fk_AccessLevel == (int)AccessLevelEnum.FullAccess || Fk_AccessLevel == (int)AccessLevelEnum.CreateOrUpdateAccess) && Model.Fk_Event > 0)
                {
                    await Html.RenderPartialAsync("./PartialComponent/ImageLazyUpload", new MultiImageViewModel
                    {
                        Id = Model.Fk_Event,
                        Name = "Attachments",
                        UploudAction = "/EventGallery/Uploud"

                    });
                }
                <table class="table table-bordered table-striped mb-0" id="custom-tabletools">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(model => EventGallery.Id)</th>
                            <th>@Html.DisplayNameFor(model => EventGallery.FileURL)</th>
                            <th>@Html.DisplayNameFor(model => EventGallery.FileName)</th>
                            <th>@Html.DisplayNameFor(model => EventGallery.CreatedAt)</th>
                            <th>

                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
        </section>
    </div>
</div>

<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="DisplayModal" tabindex="-1" role="dialog" aria-labelledby="DetailsTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">@ViewData["Title"]</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="Display">
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @Html.RenderPartialSectionScripts();
    @{await Html.RenderPartialAsync("PartialView/_ValidationScriptsPartial");}
    @{await Html.RenderPartialAsync("PartialView/_FormScriptsPartial");}
    @{await Html.RenderPartialAsync("PartialView/_TableScriptsPartial");}


    <script>
        $(document).ready(function () {
            var $table = $('#custom-tabletools').DataTable({
                "scrollX": true,
                // Ajax Filter
                ajax: {
                    url: '@Url.Action("LoadTable")',
                    type: "POST",
                    contentType: "application/json",
                    dataType: "json",
                    data: function (data) {
                        data.Id = @Model.Id;
                        data.Fk_Event = @(Model.Fk_Event);
                        return JSON.stringify(data);
                    }
                },
                // Columns Setups
                columns: [
                    { data: "id" },
                                          {
                          data: "fileURL",
                        render: function (data) {
                            if (data != null) {
                                return '<a class="image-popup-no-margins" href="' + data + '"><img class="img-thumbnail img-fluid" src="' + data + '" width="75" alt="No Image Selected"></a>'
                            }
                            else {
                                return '@CommonLocalizer.Get("Not Found")';
                            }
                        }
                    },


                    { data: "fileName" },

                    {
                        data: "createdAt",
                        render: function (data, type, row) {
                            return moment(data).format("ddd, D/M/YYYY, h:mm a");
                        }
                    },
                    {
                        data: "id",
                        render: function (data, type, row) {
                            return '<a href="' + row.fileURL + '" download="' + row.fileName + '" class="btn btn-outline-primary a-btn-slide-text mr-1" target="_blank" ><i class="fas fa-download"></i></a>'
                                +'<a href="/EventGallery/Details/' + data + '" class="btn btn-outline-success a-btn-slide-text Displaybtn mr-1"><i class="fas fa-eye"></i></a>'
                                + '<a href="/EventGallery/Delete/' + data + '"class="btn btn-outline-danger a-btn-slide-text Displaybtn " style="display:@(Fk_AccessLevel == (int)AccessLevelEnum.FullAccess ? "":"none")"><i class="fas fa-trash-alt"></i></a>';
                        }
                    }
                ]
            });

            $('#custom-tabletools_wrapper').find('.btn-secondary').removeClass('btn-secondary').addClass('btn-default');

            $('body').on('submit', '.filter', function () {
                event.preventDefault();
                $(".modal").fadeOut();
                $(".modal-backdrop").fadeOut();
                $table.draw();
            });
    });
    </script>
}