@model Event
@inject UnitOfWork _UnitOfWork
@inject CommonLocalizationService CommonLocalizer
@inject EntityLocalizationService EntityLocalizer
@{
    Layout = "_AssetsLayout";

}


<div class="row">
    <div class="col-lg-12">
        <form asp-action="" class="form-horizontal">
            <section class="card">
                <div class="card-body">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />


                    <div class="form-group row">
                        <label class="col-sm-2 control-label  pt-2">@EntityLocalizer.Get("Image")</label>
                        <div class="col-sm-4">
                            <img class="img-thumbnail" src="@Model.ImageURL" width="75">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label asp-for="Title" class="col-sm-2 control-label  pt-2"></label>
                        <div class="col-sm-10">
                            <input asp-for="Title" class="form-control" disabled>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label asp-for="ShortDescription" class="col-sm-2 control-label  pt-2"></label>
                        <div class="col-sm-4">
                            <textarea rows="5" asp-for="ShortDescription" class="form-control" disabled></textarea>
                        </div>

                        <label asp-for="LongDescription" class="col-sm-2 control-label  pt-2"></label>
                        <div class="col-sm-4">
                            <textarea rows="5" asp-for="LongDescription" class="form-control" disabled></textarea>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label asp-for="FromDate" class="col-sm-2 control-label  pt-2"></label>
                        <div class="col-sm-4">
                            <input id="_FromDate" value="@String.Format("{0:MM / dd / yyyy  hh:mm tt}",Model.FromDate)" class=" form-control LastModifiedAt" disabled>
                        </div>

                        <label asp-for="ToDate" class="col-sm-2 control-label  pt-2"></label>
                        <div class="col-sm-4">
                            <input id="_ToDate" value="@String.Format("{0:MM / dd / yyyy  hh:mm tt}",Model.ToDate)" class=" form-control LastModifiedAt" disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="Address" class="col-sm-2 control-label  pt-2"></label>
                        <div class="col-sm-10">
                            <textarea asp-for="Address" rows="5" class="form-control" disabled></textarea>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label asp-for="Latitude" class="col-sm-2 control-label  pt-2"></label>
                        <div class="col-sm-4">
                            <input asp-for="Latitude" class="form-control" disabled>
                        </div>

                        <label asp-for="Longitude" class="col-sm-2 control-label  pt-2"></label>
                        <div class="col-sm-4">
                            <input asp-for="Longitude" class="form-control" disabled>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label asp-for="RegistrationFrom" class="col-sm-2 control-label  pt-2"></label>
                        <div class="col-sm-4">
                            <input id="_RegistrationFrom" value="@String.Format("{0:MM / dd / yyyy  hh:mm tt}",Model.RegistrationFrom)" class=" form-control LastModifiedAt" disabled>
                        </div>

                        <label asp-for="RegistrationTo" class="col-sm-2 control-label  pt-2"></label>
                        <div class="col-sm-4">
                            <input id="_RegistrationTo" value="@String.Format("{0:MM / dd / yyyy  hh:mm tt}",Model.RegistrationTo)" class=" form-control LastModifiedAt" disabled>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label asp-for="PackageNotes" class="col-sm-2 control-label  pt-2"></label>
                        <div class="col-sm-10">
                            <textarea asp-for="PackageNotes" rows="5" class="form-control" disabled></textarea>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label asp-for="IsActive" class="col-sm-2 control-label  pt-2"></label>
                        <div class="col-sm-4">
                            <input asp-for="IsActive" class="form-control" disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="LastModifiedAt" class="col-sm-2 control-label  pt-2"></label>
                        <div class="col-sm-4">
                            <input id="_LastModifiedAt" value="@String.Format("{0:MM / dd / yyyy  hh:mm tt}",Model.LastModifiedAt)" class=" form-control LastModifiedAt" disabled>
                        </div>
                        <label asp-for="LastModifiedBy" class="col-sm-2 control-label  pt-2"></label>
                        <div class="col-sm-4">
                            <input asp-for="LastModifiedBy" class="form-control" disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="CreatedAt" class="col-sm-2 control-label  pt-2"></label>
                        <div class="col-sm-4">
                            <input id="_CreatedAt" value="@String.Format("{0:MM / dd / yyyy  hh:mm tt}",Model.CreatedAt)" class=" form-control CreatedAt" disabled>
                        </div>
                        <label asp-for="CreatedBy" class="col-sm-2 control-label  pt-2"></label>
                        <div class="col-sm-4">
                            <input asp-for="CreatedBy" class="form-control" disabled>
                        </div>
                    </div>
                </div>
            </section>
        </form>
    </div>
</div>
@section Scripts {
    <script src="~/lib/momentjs/moment.min.js" asp-append-version="true"></script>

    <script>
        $("#_LastModifiedAt").attr("value", function () {
            return moment($("#_LastModifiedAt").val()).format("ddd, D/M/YYYY, h:mm a");
        });

        $("#_CreatedAt").attr("value", function () {
            return moment($("#_CreatedAt").val()).format("ddd, D/M/YYYY, h:mm a");
        });

        $("#_RegistrationFrom").attr("value", function () {
            return moment($("#_RegistrationFrom").val()).format("ddd, D/M/YYYY, h:mm a");
        });

        $("#_RegistrationTo").attr("value", function () {
            return moment($("#_RegistrationTo").val()).format("ddd, D/M/YYYY, h:mm a");
        });

        $("#_FromDate").attr("value", function () {
            return moment($("#_FromDate").val()).format("ddd, D/M/YYYY");
        });

        $("#_ToDate").attr("value", function () {
            return moment($("#_ToDate").val()).format("ddd, D/M/YYYY");
        });
    </script>
}
